.adiv{
	background: #0a701d;
	border-radius: 15px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	font-size: 15px;
	height: 46px;
}
.chat{
	border: none;
	background: #E2FFE8;
	font-size: 15px;
	border-radius: 20px;
}
.bg-white{
	border: 1px solid #E7E7E9;
	font-size: 15px;
	border-radius: 20px;
}
.myvideo img{
	border-radius: 20px
}
.dot{
	font-weight: bold;
}
.form-control{
	border-radius: 12px;
	border: 1px solid #F0F0F0;
	font-size: 15px;
}
.form-control:focus{
	box-shadow: none;
	}
.form-control::placeholder{
	font-size: 15px;
	color: #C4C4C4;
}
.center-cropped {
	object-fit: none; /* Do not scale the image */
	object-position: center; /* Center the image within the element */
	height: 20rem;
	width: 18rem;
	border-radius: 15px;
	border: 2px solid #ffffff00;
	padding: 2px;
}
