{% extends "base.html" %} {% block content %}
<h1>Game Data Portal</h1>
<form method=post enctype=multipart/form-data>
    <label for="file" class="form-label">Upload game data:</label>
    {% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Files uploaded successfully!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="d-flex">
        <input type=file name=file class="form-control file-input" required multiple style="border-width: 2px; width: 25rem">
        <input type=submit class="btn btn-success" value=Upload>
    </div>
</form>

<a class="justify-content-right btn btn-primary" href="/download_data" target="_blank">Download</a>
{% if table %}

{{ table|safe }}
{% endif %}

<script>
    $(".file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{% endblock %}
