{% extends "base.html" %}

{% block content %}
    <form name="beginning_data" onsubmit="event.preventDefault()" onchange="get_events()">
    
        <label for="season_selection" class="form-label">Select the season your scouting for</label>
        <select class="form-select" aria-label="Season selection" id = "season_selection">
            <option selected>{{current_year}}</option>
            {% for year in years %}
                <option value={{year}}>{{year}}</option>
            {% endfor %}
        </select>

        <label for="team_number" class="form-label">Team number</label>
        <input type="number" id="team_number" class="form-control">

    </form>
    <div id="testing"></div>
    <form id = "event_selection_form" onsubmit="event.preventDefault()" class="d-none">
        <label for="event_selection" class="form-label">Select an event to scout for</label>
            <select class="form-select" aria-label="Event selection" id = "event_selection"></select>
        
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="use_OPR" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Use OPR
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="use_CCWMS" checked>
            <label class="form-check-label" for="flexChecChecked">
                Use CCWMS
            </label>
        </div>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="use_overall_EPA" checked>
            <label class="form-check-label" for="flexCheckCheckede">
                Use Overall EPA
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="use_auto_EPA" checked>
            <label class="form-check-label" for="flexCheckCheckede">
                Use Auto EPA
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="use_TeleOp_EPA" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Use TeleOp EPA
            </label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="user_endgame_EPA" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Use Endgame EPA
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-success" onsubmit="get_rankings()">Calculate</button>

    </form>
    <div>
        <canvas id="ranking_score"></canvas>
    </div>
{% endblock %}